# Node.js
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Docker
docker-compose.override.yml

.angular/
.angular-cache/

# Archivos de entorno
*.env

# Editor/IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros
coverage/
